{% extends 'base.html' %}
{% block title %}Rules - {{ block.super }}{% endblock %}


{% block content %}
	<div class="container">
		<div class="rules">
			<div class="wrapper">
				<h1 class="rules"><strong> Жалпы колдонуучулар учун эрежелер</strong></h1>
			</div>
		</div>
		<div class="card">
			<div class="cardbody">
				<ul>
					<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi nulla consequatur nihil error eveniet quod est deleniti odit cumque eius. Tempora eveniet cupiditate vitae provident laborum at laboriosam id nihil?</li>
					<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos accusantium ad nisi dolor dolores excepturi perferendis a. Culpa cupiditate eius beatae error sed id accusamus optio esse voluptate! Sunt, ipsam.</li>
					<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis officiis veniam laborum molestiae earum, ut aliquid. Fuga qui laborum commodi voluptatum tenetur eveniet cumque dolorem. Non rerum delectus tempore quasi!</li>
					<li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nesciunt sunt porro eos aspernatur voluptas ullam sapiente ipsa autem, error similique aperiam quas tenetur adipisci fuga eius commodi qui exercitationem?</li>
					<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium illo commodi itaque voluptates sed repudiandae, atque omnis dolores! Reprehenderit earum aperiam nulla quos ex blanditiis nesciunt quas obcaecati atque expedita.</li>
					<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis culpa possimus, repellendus, rerum laborum perspiciatis beatae odio dolorum tempora sapiente tenetur unde repudiandae voluptatum velit! Nulla blanditiis delectus illo itaque.</li>
				</ul>
			</div>
		</div>
	</div>
	
{% endblock %}
